@model FrontEnd.Models.CommentViewModel


@{

    var commentModel = new FrontEnd.Models.CommentViewModel
            {
                // Obtener el ticketId desde ViewData
                ticketId = Model.ticketId
            };

}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h3 class="mb-0">Crear Comentario</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Comment" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
                    <!-- Utiliza el valor de ticketId directamente del modelo -->
                    <input type="hidden" asp-for="ticketId" />
                    <div class="form-group">
                        <label asp-for="message" class="control-label"></label>
                        <input asp-for="message" class="form-control" />
                        <span asp-validation-for="message" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
