@model FrontEnd.Models.UserModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">

        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">


                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href=@Url.Action("Login","User") class="">
                            <h5 class="text-primary">Asistencia360</h5>
                        </a>
                        <h5>Credenciales</h5>
                    </div>
                    <div class="form-floating mb-3">

                        <input asp-for="email" class="form-control" type="email" placeholder="nombre@ejemplo.com" />
                        <label asp-for="email" class="control-label login-text"></label>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>

                    <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="Recuperar contraseña" />
                    <p class="text-center mb-0">¿Ya tienes una cuenta? <a href=@Url.Action("Login","User")>Inicia sesion</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
