@model FrontEnd.Models.UserModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">

        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">


                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href=@Url.Action("Login","User") class="">
                            <h4 class="text-primary">Asistencia360</h4>
                        </a>
                        <h4>Ingresar</h4>
                    </div>
                    <div class="form-floating mb-3">
                        
                        <input asp-for="email" class="form-control" type="email" placeholder="nombre@ejemplo.com" />
                        <label asp-for="email" class="control-label login-text"></label>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        
                        <input asp-for="password" class="form-control" type="password" placeholder="Password" />
                        <label asp-for="password" class="control-label login-text"></label>
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between mb-4">
                        @*<a href="@Url.Action("RecuperarContraseña", "Login")">Has olvidado tu contraseña?</a>*@
                        <a href="@Url.Action("ForgotPassword", "User")">¿Has olvidado tu contraseña?</a>
                    </div>
                    <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="Ingresar" />
                    @*<p class="text-center mb-0">No tienes una cuenta? <a href=@Url.Action("Registro","Login")>Registrate</a></p>*@
                    <p class="text-center mb-0">¿No tienes una cuenta? <a href="@Url.Action("Register", "User")">Registrate</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

@if (TempData["ForgotPasswordSuccess"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Correo enviado con éxito',
            html: '@TempData["ForgotPasswordSuccess"].ToString()'
        })
    </script>
}

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
